<!DOCTYPE html>
%html
  %head
    <meta charset="utf-8">
    <title>ForMe - css form framework</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    // icons http://ionicons.com/
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="css/style.css">

  %body
    .fm-container
      %h1.logo
        ForMe
        %span.beta
          alpha
      %p
        minimal css form framework

      %h3 Components
      %ul
        %li
          %a{:href => "#input"}
            Input
        %li
          %a{:href => "#select"}
            Select
        %li
          %a{:href => "#textarea"}
            Textarea
        %li
          %a{:href => "#buttons"}
            Buttons
        %li
          %a{:href => "#checkbox"}
            Checkbox
        %li
          %a{:href => "#radio"}
            Radio
        %li
          %a{:href => "#switcher"}
            Switcher
        %li
          %a{:href => "#progressbar"}
            Progressbar


      %form.fm-form
        = render :partial => 'components/input.haml'
        = render :partial => 'components/select.haml'
        = render :partial => 'components/textarea.haml'
        = render :partial => 'components/buttons.haml'
        / = render :partial => 'components/disabled.haml'
        = render :partial => 'components/checkbox.haml'
        = render :partial => 'components/radio.haml'
        = render :partial => 'components/switcher.haml'
        = render :partial => 'components/progressbar.haml'