<!DOCTYPE html>
%html
  %head
    <meta charset="utf-8">
    <title>ForMe - css form framework</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    // icons http://ionicons.com/
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="css/style.css">

  %body
    .page-header
      .container
        %h1.logo
          ForMe
          %span.beta
            alpha v0.0.1

        %nav.navbar
          %ul
            %li
              %a{:href => "#components"}
                Components
            %li
              %a.action{:href => "https://github.com/marko-zub/forme/releases/latest"}
                Download
      .header-nav-secondary
        %a{:href => "https://github.com/marko-zub/forme"}
          %i.ion-social-github
    .page-main
      .container
        %p
          minimal css form framework      
        %h3#components
          Components
        %ul.nav
          %li
            %a{:href => "#input"}
              Input
          %li
            %a{:href => "#select"}
              Select
          %li
            %a{:href => "#textarea"}
              Textarea
          %li
            %a{:href => "#buttons"}
              Buttons
          %li
            %a{:href => "#checkbox"}
              Checkbox
          %li
            %a{:href => "#radio"}
              Radio
          %li
            %a{:href => "#switcher"}
              Switcher
          %li
            %a{:href => "#progressbar"}
              Progressbar

        -# .fm-container
        %form.fm-form
          %hr/
          = render :partial => 'components/input.haml'
          %hr/
          = render :partial => 'components/select.haml'
          %hr/
          = render :partial => 'components/textarea.haml'
          %hr/
          = render :partial => 'components/buttons.haml'
          %hr/
          / = render :partial => 'components/disabled.haml'
          /hr/
          = render :partial => 'components/checkbox.haml'
          %hr/
          = render :partial => 'components/radio.haml'
          %hr/
          = render :partial => 'components/switcher.haml'
          %hr/
          = render :partial => 'components/progressbar.haml'
          %hr/

    = render :partial => 'footer.haml'
    = render :partial => 'scripts.haml'